nav.navbar-fixed-top {
	background: #21610B;
}

.navbar-brand {
	font-family: 'Kaushan Script', cursive;
	color: #FFFF00 !important;
}

nav.navbar-fixed-top .navbar-collapse>ul.nav.navbar-nav>li>a {
	color: #EEE;
}

nav.navbar-fixed-top .navbar-collapse>ul.nav.navbar-nav>li>a:hover {
	color: #FFFF00;
}

nav.navbar-fixed-top .navbar-collapse>ul.nav.navbar-nav>li.dropdown.open>a {
	background-color: #31B404;
}

.clear{
	clear: both;
}

.modeOfPayment {
	font-size: 11px;
}

.error {
	color: #BDBDBD;
	font-weight: normal;
}

.has-error {
	border-color: #FF0000;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.productBtn {
	margin-top: 1px;
	width: 64px;
}

.font10, .choiceTable, .blueTable {
	font-size: 11px;
}

.choiceTable tr:nth-child(even) {
	background-color: #CEF6CE !important;
}

.choiceTable tr:nth-child(odd) {
	background-color: #E0F8EC !important;
}

.choiceAction {
	padding-left: 25px;
}

.blueTable tr:nth-child(even) {
	background-color: #CEF6F5 !important;
}

.blueTable tr:nth-child(odd) {
	background-color: #A9F5F2 !important;
}

.row > div {
	word-wrap: break-word !important;
}

.addons{
	font-size: 11px;
	padding-left: 25px;
}

.sale {
	font-style: italic;
	font-size: 10px;
	font-weight: bold;
}

span.spicy {
	position: relative;
	top: 1px;
	display: inline-block;
	height: 15px;
	width: 15px !important;
	background-image: url("../media/chili_icon.png");
}

.report {
	font-family: 'Varela Round', sans-serif;
}

nav.navbar-fixed-top .navbar-collapse>ul.nav.navbar-nav>li.active>a {
	background-color: #19990E !important;
}

.productPicker {
	margin: 0 5px;
}

.productPicker > button {
	font-size: 12px;
}




/* BLINK */
@keyframes blink {  
  0% { 
 	color: red;
  }

  50% { 
  	color: yellow;
  }

  100% { 
  	color: red;
  }
}

@-webkit-keyframes blink {
  0% {
  	color: red; 
  }
  50% { 
  	color: yellow;
  }
  100% {
  	color: red; 
  }
}

.blink {
	font-weight: bolder;
  	animation: blink 3s step-start 0s infinite;
  	-webkit-animation: blink 3s step-start 0s infinite;
} 