<h1>Promo</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Original Price</th>
			<th>Discount</th>
			<th>Validity</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<div class="promo-pagination"></div>