 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Promo</h4>
    </div>
    <div class="modal-body">
      <!-- BODY -->
      <form class="form-horizontal" role="form" >

        <div class="form-group">
          <label for="promo_discount">Promo Discount<span class="error"></span></label>
          <input type="number" class="form-control" id="promo_discount" min="1" max="99" placeholder="Enter % of discount e.g. if 10% => 10" required="required" value="<%= model.discout %>">
        </div>

        <div class="form-group">
          <label for="validity">Validity <span class="error"></span></label>
          <input type="date" class="form-control" id="validity" value="<%= model.validity %>" >
        </div>

        <input type="hidden" id="name" value="<%= model.name %>">
        <input type="hidden" id="food_id" value="<%= model.food_id %>">
        <input type="hidden" id="original_price" value="<%= model.original_price %>">
        <input type="hidden" id="description"   value="<%= model.description %>" >

      </form>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary save">Save changes</button>
    </div>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->