<h3 class="pull-left">Products</h3>
<button class="btn btn-primary btn-sm pull-right createProduct"><span class="glyphicon glyphicon-plus"></span> Food</button>
<div class="productPicker pull-right">

</div>

<table id="productTable" class="table table-striped clear">
	<tbody></tbody>
</table>
<div class="product-pagination"></div>