<td>
	<div class="row">
		<strong class="col-md-4"><span class="<%= (flavor).toLowerCase() %>"></span><%= name %></strong>
		<span class="col-md-2 font10">Price: $<%= price %></span>
		<span class="col-md-3 font10"><%= category %>/<%= type %></span>
		<div class="col-md-3 right">
			<span class="btn btn-xs btn-primary adOns"><span class="glyphicon glyphicon-plus"></span> Add-ons</span>
			<span class="btn btn-xs btn-info promoFood"><span class="glyphicon glyphicon-plus"></span> Promo</span>
			<span class="btn btn-xs btn-success addChoice"><span class="glyphicon glyphicon-plus"></span> Choice</span>
			
		</div>
	</div>

	<div class="row">
		<span class="col-md-5 font10"><%= short_description ? "("+short_description+")" : '' %></span>
		<div class="col-md-4 col-md-offset-3 right">
			<span class="btn btn-xs btn-warning edit productBtn">Edit</span>
			<span class="btn btn-xs btn-danger delete productBtn">Delete</span>
		</div>
	</div>

	<div class="row">
		<span class="col-md-5 font10"><%= description %></span>
		<span class="col-md-7"></span>
	</div>

	<div class="ChoiceList"></div>

	<div class="AddOnsList"></div>
</td>