<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Food</h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" role="form" >
				<div class="form-group">
					<label for="name">Name <span class="error"></span></label>
					<input type="text" class="form-control" name="name" id="name" autofocus value="<%= model.name %>">
				</div>

				<div class="form-group">
					<label for="price">Price <span class="error"></span></label>
					<input type="text" class="form-control" name="price" id="price" value="<%= model.price %>" >
				</div>

				<div class="form-group">
					<label for="type">Type <span class="error"></span></label>
					<input type="text" class="form-control" name="type" id="type" value="<%= model.type %>">
				</div>

				<div class="form-group">
					<label for="category">Category <span class="error"></span></label>
					<input type="text" class="form-control" name="category" id="category" value="<%= model.category %>" >
				</div>

				<div class="form-group">
					<label for="description">Description <span class="error"></span></label>
					<input type="text" class="form-control" name="description" id="description" value="<%= model.description %>" >
				</div>

				<div class="form-group">
					<label for="short_description">Short Description <span class="error"></span></label>
					<input type="text" class="form-control" name="short_description" id="short_description" value="<%= model.short_description %>">
				</div>

				<div class="form-group">
					<label for="flavor">Flavor <span class="error"></span></label>
					<input type="text" class="form-control" name="flavor" id="flavor" value="<%= model.flavor %>" >
				</div>

				<input type="hidden" id="branch_id" value="<%= model.branch_id %>" >

			</form>			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary save">Save</button>
		</div>
	</div>
</div>
