<td>
	<span class="col-md-4"><%= name %></span>
	<span class="col-md-4">$<%= price %></span>
	<span class="col-md-4 right padding_right0"><span class="btn btn-xs btn-danger deleteAddOns">Remove</span></span>
</td>