<td><%= name %></td>
<td><%= number_of_person %></td>
<td><%= contact_number %></td>
<td><%= email %></td>
<td><%= reservation_time %></td>
<td>
	<button class="btn btn-xs btn-primary accept">Accept</button>
	<button class="btn btn-xs btn-success done">Done</button>
	<button class="btn btn-xs btn-danger decline">Decline</button>
</td>