<h1>Reservation</h1>
<button class="btn btn-sm btn-primary pull-right create"><span class="glyphicon glyphicon-plus"></span> Reservation</button>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Capacity</th>
			<th>Contact Number</th>
			<th>Email</th>
			<th>Reservation Time</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<div class="reservation-pagination"></div>