<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Reservation</h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" role="form" >
				<div class="form-group">
					<label for="name">Name <span class="error"></span></label>
					<input type="text" class="form-control" name="name" id="name" value="<%= model.name %>" autofocus >
				</div>

				<div class="form-group">
					<label for="number_of_person">Number of Person <span class="error"></span></label>
					<input type="text" class="form-control" name="number_of_person" id="number_of_person" value="<%= model.number_of_person %>" >
				</div>

				<div class="form-group">
					<label for="contact_number">Contact Number <span class="error"></span></label>
					<input type="text" class="form-control" name="contact_number" id="contact_number" value="<%= model.contact_number %>" >
				</div>

				<div class="form-group">
					<label for="email">Email <span class="error"></span></label>
					<input type="text" class="form-control" name="email" id="email" value="<%= model.email %>" >
				</div>

				<div class="form-group">
					<label for="reservation_time">Reservation Time <span class="error"></span></label>
					<input type="datetime-local" class="form-control" name="reservation_time" id="reservation_time" value="<%= model.reservation_time %>" >
				</div>

				<input type="hidden" value="accepted" id="status" name="status" >
				
			</form>			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary save">Save</button>
		</div>
	</div>
</div>
