<h3>Reward Settings</h3>
<div class="col-md-4">
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="amount">Amount</label>
		<input type="text" name="amount" id="amount" class="form-control" autofocus="true" value="<%= amount %>"/>
	</div>


	<div class="form-group">
		<label for="percentage">Reward</label>
		<div class="input-group">
			<span class="input-group-addon">&dollar;</span>
			<input type="text" name="percentage" id="percentage" class="form-control" value="<%=percentage%>"/>
		</div>
	</div>
	
	<div class="form-group">
		<label for="status">Status</label>
		<input type="button" name="status" id="status" class="btn btn-<%=status=='Activated' ? 'success' : 'danger' %>" value="<%=status%>"/>
	</div>
	<div class="form-group">
		<input type="submit" class="form-control btn-info" value="Save" />
	</div>
</form>
</div>
