<td>
	<strong class="pull-left"><%= name %></strong>
	<span class="modeOfPayment pull-right"><%= new Date().UnixToDate(created) %></span> <br/>
	<em><span class="glyphicon glyphicon-envelope"></span> <%= email %> / <span class="glyphicon glyphicon-phone-alt"></span> <%= phone %></em> <br/>
	<p><%= message %></p>
</td>