<div class="col-xs-2 col-sm-1 col-md-offset-1"><%= quantity %></div>
<div class="col-xs-4 col-sm-4"><%= food_name %></div>
<div class="col-xs-3 col-sm-3"><%= instruction %></div>
<div class="col-xs-2 col-sm-2">&dollar;<%= food_total %></div>
<div class="col-xs-1 col-sm-1">
	<span class="btn btn-success btn-xs actionButton">Available</span>
</div>
