<div class="col-md-5 col-md-offset-1">
<h1 class="report">Orders of the Week</h1>
This month, you had <strong id="thisMonthOrder">0</strong> orders. <br/>

This week, you received <strong id="thisWeekOrder">0</strong> orders. <br/>

Since your apps launched, you've had <strong id="totalOrder">0</strong>.

</div>

<div class="col-md-5">
<h1 class="report">Revenue for the week</h1>

Your total order revenue this Month: $<strong id="thisMonth">0</strong> <br/>

Your total order revenue this week: $<strong id="thisWeek">30</strong> <br/>

Total since app launch: $<strong id="totalSale">100</strong>
</div>

<div class="col-md-1"></div>