 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Choice</h4>
    </div>
    <div class="modal-body">
      <!-- BODY -->
      <form class="form-horizontal" role="form" >
        <div class="form-group">
          <label for="name">Name <span class="error"></span></label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" required="required" >
        </div>
        <div class="form-group">
          <label for="price">Price <span class="error"></span></label>
          <input type="text" class="form-control" id="price" placeholder="Enter Price" required="required" >
        </div>
      </form>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary save">Save changes</button>
    </div>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->