<td>
	<div class="row">
		<div class="col-sm-10"><strong><%= last_name %>, <%= first_name %></strong></div>
		<em class="modeOfPayment col-sm-2"><%= new Date().UnixToDate(created) %></em>
	</div>
	<strong><%= address %></strong>

	<div class="row">
		<div class="col-xs-2 col-sm-1 col-md-offset-1"><var>Qty</var></div>
		<div class="col-xs-4 col-sm-4"><var>Name</var></div>
		<div class="col-xs-3 col-sm-3"><var>Instruction</var></div>
		<div class="col-xs-2 col-sm-2"><var>Total</var></div>
		<div class="col-xs-1 col-sm-1"></div>
	</div>

	<div class="transactionItem"></div>

	<div class="row">
		<div class="col-xs-4 col-xs-offset-2 col-sm-offset-1 col-md-offset-2">Tip</div>
		<div class="col-xs-2 col-xs-offset-3">&dollar;<%= tip %></div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-xs-offset-2 col-sm-offset-1 col-md-offset-2">Tax</div>
		<div class="col-xs-2 col-xs-offset-3">&dollar;<%= tax %></div>
	</div>	


	<div class="row">
		<div class="col-xs-4 col-xs-offset-2 col-sm-offset-1 col-md-offset-2"></div>
		<strong class="col-xs-2 col-xs-offset-3">&dollar;<%= transaction_total %></strong>
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-8 col-md-9">
			<em class="modeOfPayment">Mode of Payment: <%= mode_of_payment %></em><br>
			<em class="modeOfPayment">Type: <%= type %></em>
		</span>
		</div>

		<div class="col-xs-6 col-sm-4 col-md-3">
		</div>
	</div>
</td>